/*-------Class CSS ------*/
.overview {
    background-color: #EFEAE7;
}

.footer {
    background-color: #540b0da2;
}

.noborder td,
.noborder th {
    border:0px;
}
th h1{
    font-family:serif;
    font: 90px;
}


.icon-white {
    color: #FFFFFF;
}

.author,.procedure,.signin, .register,.home{
    background-color: #D6A99A;
}

.about-author,.about-procedure {
    color: rgb(82, 81, 81);
}
.table td{
    font-size:20px;
}

.showcase {
    background-color: #D6A99A;
}

.nb-bg-color {
    background-color: #540b0da2;
}

h1#ovPadLeft {
    padding-left: 20px;
}

p#ovPadLeft {
    padding-left: 20px;
}

.btn, .nav_link, .centered{
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
    color: #d0b4a8;
} 


/*-------ID  CSS ------*/

a#nbMenuItem{
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
    color: #d0b4a8;
} 

div#about {
    width: 400px;
    margin: auto;
}

/*-------Underline Animation CSS ------*/
/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}
.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    
}